body {
  font-family: Montserrat;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

h1, h2 {
  font-size: 2.5rem;
  line-height: 1.5;
}

button {
  font-family: "Ubuntu";
  font-size: 1rem;
  line-height: 1;
}

/* title section */
#title {
  background-color: #fff;
  color: #25316D;
}

/* Header-bar */
.header-bar {
  padding: 1rem 0;
  background-color: #25316D;
  text-align: "center";
  height: 5rem;
}

.phone_number_header {
  width:10rem;
}
.phone_number_icon {
  color: #fff;
  padding: auto 0;
  margin: auto 0;
  text-decoration: none;
  font-size: 0.8rem;
  width: 1.5rem;

}

.email_icon {
  color: #fff;
  padding: auto 0;
  margin: auto 0;
  text-decoration: none;
  font-size: 0.8rem;
  width: 1.5rem;
}

.get-quote-div {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.get-quote {
  width: 6.5rem;
  font-size: 0.8rem;
  margin-top: 6px;
  margin-bottom:6px;
}

/* brand */
.navbar {
  padding: 0 0 1.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat-Light";
  font-size: 1.1rem;
  color: #25316D
}

/* Download Button */
.download-button {
  margin: 5% 3% 5% 0;
}

/* tagimage section*/

.tag-headline {
  color: #fff;
  text-align: center;
  font-size: 5.1rem;
  width: 100%;
  margin-left: 0;
  padding-top: 5%;
}

.consultation-icon {
  margin: 0 0 0.5rem 3rem;

}
#tagimage {
  background-image: url('images/Solar-image-ground.jpg');
  height: 25rem;
  background-size: 100% 100%;
  margin: 0;
  padding: 0;
  opacity: 2.5;
}

/* About-us */
.about-row {
  height: 25rem;
}

#about-us {
  margin-top: 2rem;
  margin-left: 2rem;
  padding-top: 0;
  text-align: center;

}
.about-us-text {
  margin-left: 2rem;
  margin-top: 2rem;
}

.about-us-image {
  display: block;
  object-fit: contain;
  height:60%;
  margin-left: 7rem;
  margin-right: auto;
  margin-bottom: 1rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  position: absolute;
}

@media (max-width: 1200px) {
  .tag-headline {
    margin-top: 4rem;
    font-size: 2.5rem;
  }
  .consultation-icon {
    margin-top: 0.3rem;
    margin-left:2rem;
    font-size: 1rem;
  }
  .about-us-image {
    display:none;
    position: relative;
  }
  .about-us-text {
    font-size: 0.8rem;
    text-align: center;
  }

}


/* Carousel base class */

.carousel {
  margin-bottom: 4rem;
  line-height: 1rem;
  height: 50%;
}

.carousel h1 {
  color : #25316D;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;

}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #97D2EC;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* feature section */
#features {
    background-color: #fff;

}
#features h2 {
  text-align: center;
  margin-bottom: 5rem;
}

.feature-row {
  padding: 10px;
}

.feature-icon {
  color: #25316D;
  margin-bottom: 1rem;

}

.feature-icon:hover {
  color: #250060;
}

.feature h3 {
  font-size: 1.5rem;
}

p {
  color: #8f8f8f;
}

/* Testimonial Section */
#testimonials {
  text-align: center;
  background-color: #25316D;
  color: #fff;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-image {
  width: 20%;

  margin: 20px;
}

/* Press */
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

#pricing {
  padding: 100px;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.pricing-column {
  padding: 3% 2%;
}

/* call to action */
#cta {
  background-color: #ff4c68;
  color: #fff;
}

#cta h3 {
  font-size: 2.5rem;
  line-height: 1.5;
  width: 70%;
  margin: 0 auto;
}

/* footer section */

.footer-icon {
  padding: 40px 10px;
  margin-bottom: 1rem;
}


/* copyright section */
#copyright .copyright-content {
  background-color: #25316D;
  color:#fff;
  font-size: 0.7rem;
  text-align: center;
  margin-bottom: 0;
}
